@media screen {
  .btn-thumbs-o-up {
    margin-right: 15px;
  }
  .dismiss-btn {
    width: 70.63px;
  }
  .submit-btn {
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 768px) {
  .thumbs {
    font-size: 190px;
  }
}
@media screen and (min-width: 768px) {
  .thumbs {
    font-size: 270px;
  }
}
