.evaluate-btn {
  position: relative;
}

.evaluate-btn p {
  float: left;
  position: absolute;
}

.opinions li {
  display: none;
}

@media screen and (max-width: 767px) {
  .evaluate-btn p {
    font-size: 6vw;
    left: 5vw;
  }

  .good-count {
    top: 5vw;
  }

  .bad-count {
    bottom: 1.6vw;
  }
}

@media screen and (min-width: 768px) {
  .evaluate-btn p {
    font-size: 4vw;
    left: 2.5vw;
  }

  .good-count {
    top: 2vw;
  }

  .bad-count {
    bottom: 0.2vw;
  }
}
