.evaluation-item {
  margin-bottom: 0;
  text-align: left;
}

.panel {
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  div.radio {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .panel-body {
    text-align: left;
  }

  div.radio {
    display: inline;
    margin-right: 3px;
  }

  label > input {
    margin-left: -16px !important;
  }
}
