<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../../css/finished.css">
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <main>
        <div class="alert alert-success">
          <p class="alert-message"><%= user.name %>, thank you so much for your participation!!!</p>
        </div>
        <img src="../../images/kitty.jpg">
      </main>
    </div>
  </body>
</html>
