<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <main>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- SIGNIN FORM -->
            <form action="/signin" method="post">
              <div class="form-group">
                <input type="text" class="form-control input-lg" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" name="password" placeholder="Password">
              </div>
              <button type="submit" class="signup-signin-btn btn btn-primary btn-lg">Signin</button>
            </form>
          </div>
        </div>
        <p class="signup-signin-switch">Need an account? <a href="/signup" class="btn btn-default">Signup</a></p>
      </main>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
