<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../../css/radio-evaluate.css">
    <script src="../../js/radio-evaluate.js"></script>
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <main>
        <% if(0==1) { %>
          <div class="alert alert-success">
            <p class="alert-message"><%= user.name %>, your evaluation has been submitted!</p>
          </div>
        <% } else { %>
          <div class="alert alert-info">
            <p class="alert-message"><%= user.name %>, how was your class?</p>
          </div>
        <% } %>
        <form id="radioEvaluationForm" action="/radioEvaluate" method="post">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tr>
                <th>Evaluation Items</th>
                <th>Absolutely</th>
                <th>I guess so</th>
                <th>I don't care</th>
                <th>I don't think so</th>
                <th>Absolutely not</th>
              </tr>
              <tr>
                <td>The professor proceeded the class exactly the way it was supposed to go.</td>
                <td><input type="radio" name="question-1" value="Absolutely" required></td>
                <td><input type="radio" name="question-1" value="I guess so" required></td>
                <td><input type="radio" name="question-1" value="I don't care" required></td>
                <td><input type="radio" name="question-1" value="I don't think so" required></td>
                <td><input type="radio" name="question-1" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor prepared the class well in terms of teaching materials.</td>
                <td><input type="radio" name="question-2" value="Absolutely" required></td>
                <td><input type="radio" name="question-2" value="I guess so" required></td>
                <td><input type="radio" name="question-2" value="I don't care" required></td>
                <td><input type="radio" name="question-2" value="I don't think so" required></td>
                <td><input type="radio" name="question-2" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor explained the subject clearly.</td>
                <td><input type="radio" name="question-3" value="Absolutely" required></td>
                <td><input type="radio" name="question-3" value="I guess so" required></td>
                <td><input type="radio" name="question-3" value="I don't care" required></td>
                <td><input type="radio" name="question-3" value="I don't think so" required></td>
                <td><input type="radio" name="question-3" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor took questions and answered them back nicely.</td>
                <td><input type="radio" name="question-4" value="Absolutely" required></td>
                <td><input type="radio" name="question-4" value="I guess so" required></td>
                <td><input type="radio" name="question-4" value="I don't care" required></td>
                <td><input type="radio" name="question-4" value="I don't think so" required></td>
                <td><input type="radio" name="question-4" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor was passionate in the class.</td>
                <td><input type="radio" name="question-5" value="Absolutely" required></td>
                <td><input type="radio" name="question-5" value="I guess so" required></td>
                <td><input type="radio" name="question-5" value="I don't care" required></td>
                <td><input type="radio" name="question-5" value="I don't think so" required></td>
                <td><input type="radio" name="question-5" value="Absolutely not" required></td>
              </tr>
            </table>
          </div>
          <button type="submit" class="submit-btn btn btn-primary pull-right">Submit</button>
        </form>
        <a href="/evaluate" class="btn btn-link pull-left">Go To ButtonUI Evaluation</a>
        <a href="/radio-evaluate-kr" class="change-language btn btn-link pull-left">한글로</a>
      </main>
    </div>
  </body>
</html>
