<div class="table-container table-responsive">
            <table class="table table-bordered table-hover">
              <tr>
                <th>Evaluation Items</th>
                <th>Absolutely</th>
                <th>I guess so</th>
                <th>I don't care</th>
                <th>I don't think so</th>
                <th>Absolutely not</th>
              </tr>
              <tr>
                <td>The professor proceeded the class exactly the way it was supposed to go.</td>
                <td><input type="radio" name="question-1" value="Absolutely" required></td>
                <td><input type="radio" name="question-1" value="I guess so" required></td>
                <td><input type="radio" name="question-1" value="I don't care" required></td>
                <td><input type="radio" name="question-1" value="I don't think so" required></td>
                <td><input type="radio" name="question-1" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor prepared the class well in terms of teaching materials.</td>
                <td><input type="radio" name="question-2" value="Absolutely" required></td>
                <td><input type="radio" name="question-2" value="I guess so" required></td>
                <td><input type="radio" name="question-2" value="I don't care" required></td>
                <td><input type="radio" name="question-2" value="I don't think so" required></td>
                <td><input type="radio" name="question-2" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor explained the subject clearly.</td>
                <td><input type="radio" name="question-3" value="Absolutely" required></td>
                <td><input type="radio" name="question-3" value="I guess so" required></td>
                <td><input type="radio" name="question-3" value="I don't care" required></td>
                <td><input type="radio" name="question-3" value="I don't think so" required></td>
                <td><input type="radio" name="question-3" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor took questions and answered them back nicely.</td>
                <td><input type="radio" name="question-4" value="Absolutely" required></td>
                <td><input type="radio" name="question-4" value="I guess so" required></td>
                <td><input type="radio" name="question-4" value="I don't care" required></td>
                <td><input type="radio" name="question-4" value="I don't think so" required></td>
                <td><input type="radio" name="question-4" value="Absolutely not" required></td>
              </tr>
              <tr>
                <td>The professor was passionate in the class.</td>
                <td><input type="radio" name="question-5" value="Absolutely" required></td>
                <td><input type="radio" name="question-5" value="I guess so" required></td>
                <td><input type="radio" name="question-5" value="I don't care" required></td>
                <td><input type="radio" name="question-5" value="I don't think so" required></td>
                <td><input type="radio" name="question-5" value="Absolutely not" required></td>
              </tr>
            </table>
